*~
*swp
EBSpollock.md
EBSpollock.pdf
EBSpollock.pdf
*.obj
*.htp

# API files
html/
icon*
Icon*

# Latex files
*.aux
*.fdb_latexmk
*.fls
*.out
*.nav
*.toc
*.snm
*.vrb
*.tex.bak
*.bak
auto/

# R files
.Rproj.user
*.Rout
*.R~
*.RData
.RData
.Rhistory
*.Rmd.bak
Rplots.pdf

# ADMB build files
src/lib/*.obj
src/build/*
src/gmacs.cpp
src/gmacs.exe
src/gmacs.htp
src/gmacs.obj
src/moltIncrement.cpp

# ADMB standard output files
*.b0*
*.bar
*.cor
*.cov
*.dep
*.ecm
*.eva
gradient.*
*.hes
*.log
*.mc2
*.mcm
*.p0*
*.psv
*.hst
*.par
*.rep
*.prj
*.r0*
*.std
*_in.ctl
*_in.dat
# Added for MCMC runs
adaptation.csv
*ppl*.csv
unbounded.csv
init.pin
variance
sims

/.luarc.json
inst/doc
